@import "variables";

.navbar {
    background: $color-dark-grey;
    color: #fff;
}

.sidebar {
    border-right: 1px solid $color-light-grey;
    background: $color-off-white;
    padding: 0;
    position: relative;

    .side-nav {
        position: sticky;
        top: 10px;
        // height: calc(100vh - #{$header-height});
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 10px 15px 30px;

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;

            li {
                font-size: 14px;
                img {
                    height: 12px;
                    color: $primary;
                }
            }
        }
    }
}
