@import "variables";

.navbar {
    background: $color-dark-grey;
    color: #fff;
}

.sidebar {

    border-right: 1px solid $color-light-grey;
    height: calc(100vh - #{$header-height});
    overflow-x: hidden;
    overflow-y: auto;
    background: $color-off-white;
    padding-top: 15px;

    .side-nav {
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }
    }
}
