// @font-face {
//     font-family: 'brandon_grotesquebold_italic';
//     src: url('/fonts/brandon/brandon_bld_it-webfont.woff2') format('woff2'),
//          url('/fonts/brandon/brandon_bld_it-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'brandon_grotesquebold';
    src: url('/fonts/brandon/brandon_bld-webfont.woff2') format('woff2'),
         url('/fonts/brandon/brandon_bld-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'brandon_grotesqueblack_italic';
//     src: url('/fonts/brandon/brandon_blk_it-webfont.woff2') format('woff2'),
//          url('/fonts/brandon/brandon_blk_it-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'brandon_grotesqueblack';
//     src: url('/fonts/brandon/brandon_blk-webfont.woff2') format('woff2'),
//          url('/fonts/brandon/brandon_blk-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'brandon_grotesquelight_italic';
//     src: url('/fonts/brandon/brandon_light_it-webfont.woff2') format('woff2'),
//          url('/fonts/brandon/brandon_light_it-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'brandon_grotesquelight';
    src: url('/fonts/brandon/brandon_light-webfont.woff2') format('woff2'),
         url('/fonts/brandon/brandon_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'brandon_grotesqueMdIt';
//     src: url('/fonts/brandon/brandon_med_it-webfont.woff2') format('woff2'),
//          url('/fonts/brandon/brandon_med_it-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'brandon_grotesquemedium';
    src: url('/fonts/brandon/brandon_med-webfont.woff2') format('woff2'),
         url('/fonts/brandon/brandon_med-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'brandon_grotesqueRgIt';
//     src: url('/fonts/brandon/brandon_reg_it-webfont.woff2') format('woff2'),
//          url('/fonts/brandon/brandon_reg_it-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'brandon_grotesqueregular';
    src: url('/fonts/brandon/brandon_reg-webfont.woff2') format('woff2'),
         url('/fonts/brandon/brandon_reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'brandon_grotesquethin_italic';
//     src: url('/fonts/brandon/brandon_thin_it-webfont.woff2') format('woff2'),
//          url('/fonts/brandon/brandon_thin_it-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'brandon_grotesquethin';
    src: url('/fonts/brandon/brandon_thin-webfont.woff2') format('woff2'),
         url('/fonts/brandon/brandon_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}