.navbar {
  background: rgba(0, 0, 0, 0.75);
  color: #fff; }

.sidebar {
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  height: calc(100vh - 50px);
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.05);
  padding-top: 15px; }
  .sidebar .side-nav ul {
    padding: 0 0 15px;
    margin: 0;
    list-style-type: none; }
    .sidebar .side-nav ul li {
      font-size: 14px; }
      .sidebar .side-nav ul li img {
        height: 12px;
        color: #3097D1; }
